cronn_n8n.json
{
  "name": "CRON Billing Reminders (Daily 08:00)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "name": "Schedule Trigger (Daily 08:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        320,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agente.ia-app.com/api/cron/billing",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 8f5b7a9d2c1e4f6a9b3d7e1c5a8f2b4d"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": false,
        "options": {
          "timeout": 120000,
          "response": {
            "responseFormat": "json"
          },
          "ignoreResponseCode": true
        }
      },
      "name": "POST /api/cron/billing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        580,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const status = $json.statusCode ?? null;\n\n// Si tu endpoint responde JSON, en n8n normalmente viene en $json (body) o ya mezclado.\n// Según la config (responseFormat: json), el body suele quedar como $json\n// pero el statusCode viene aparte. Por eso normalizamos.\n\nconst body = { ...$json };\n\n// Casos esperados:\n// 200 => { success: true, data: { attempted, sent, suspendedApplied, errors } }\n// 401 => secret no coincide\n// 500 => falta CRON_SECRET o falla\n\nlet outcome = 'UNKNOWN';\nif (status === 200 && body?.success === true) outcome = 'OK';\nelse if (status === 401) outcome = 'UNAUTHORIZED';\nelse if (status === 500) outcome = 'SERVER_ERROR';\n\nreturn [{\n  outcome,\n  statusCode: status,\n  success: body?.success ?? false,\n  data: body?.data ?? null,\n  raw: body\n}];"
      },
      "name": "Normalize + Classify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        830,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger (Daily 08:00)": {
      "main": [
        [
          {
            "node": "POST /api/cron/billing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/cron/billing": {
      "main": [
        [
          {
            "node": "Normalize + Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionTimeout": 300
  },
  "versionId": "1"
}